        <div class="page-container">
            <div class="content-wrap">
                <div class="row1">
                    <div class="angular">An Angular Chart generator</div>
                    <ul>
                      <li class="tmp">
                        <a routerLink="/"><u>Graph1</u></a>
                      </li>
                      <li  class="tmp">
                        <a routerLink="/graph2"><u>Graph2</u></a>
                      </li>
                    </ul>
                </div>
                <div>
                    <router-outlet></router-outlet>
                </div>
            </div>   
        </div>
